<body class="container">
  <meta name="viewport" content="width=device-width">
  <div class="col-md-6 offset-md-3">
    <main class="form-signin">
      <form action="/searching" method="get">
        <h1 class="h3 mb-3 "> CONSULTA RECLAMES BANCÁRIOS </h1>
        <input type="search" name="search" class="form-control  border border-warning shadow p-3 mb-5 bg-white rounded "
          id="search" placeholder="Digite sua busca">
        <button class="w-100 btn btn-light " type="submit"> BUSCAR </ button>
      </form>
    </main>
  </div>