<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('./head'); %>
    <meta name="viewport" content="width=device-width">
</head>

<body>
  <img src="/busca-rec-bancos500x200.png" class="rounded mx-auto d-block">
  <%- include('./buscainicial'); %>

    <%- include('./head'); %>
      <footer>
        <hr>
        <%- include('./footer'); %>
      </footer>

</body>

</html>